/**************************************/
/*** INDEX ****************************/
/**************************************/

/*** LAYOUT ***************************/

html, body {height:100%;}
* {margin:0; padding:0;}
a {outline:none; color:#F60;}
img {border:none;}
body {font:11px Verdana, Arial, sans-serif; color:#666; line-height:16px;}
ul {list-style:none; list-style-position:outside;}
strong {color:#008AA8;}
form {float:left;}
img.bannerFarma {margin:0 0 20px 135px;}
img.bannerFarma1 {margin:20px 0 0 135px;}

.left {float:left;}
.right {float:right;}

/*** LINKS HEADER ************************/
#linksHeader {float:right; width:740px;}
#linksHeader a img {float:left; margin-right:5px; display:inline;}
#linksHeader a {float:right; text-decoration:none;}
#linksHeader a:hover {color:#F90;}

/*** CONTAINERS ************************/
#masterContainer {float:left; width:100%; background:#FFF url(../images/bkg-body.gif) repeat-x top left;}
#masterContainerInterna {float:left; width:100%; background:#FFF url(../images/bkg-body-interna.gif) repeat-x top left;}
#container {margin:0 auto; width:953px;}

/*** COLUNA ESQUERDA ******************/
#leftColumn {float:left; width:213px; background:url(../images/bkg-col-main-nav.png) repeat-y top left;}
#leftColumn h1 {float:left; width:157px; height:50px; overflow:hidden; background:url(../images/logo-salesfarma.gif) no-repeat; text-indent:-9000px; margin:110px 0 74px 28px; display:inline;}
#leftColumn h1 a {display:block; width:157px; height:50px;}
#bkgColEsq {float:left;}
#bkgColEsq img {float:left;}

#leftColumn ul.mainNav {margin:73px 0 20px 0;}
#leftColumn ul.mainNav li {float:left; width:210px; margin-top:2px; background:url(../images/bkg-main-nav.jpg) no-repeat top left;}
#leftColumn ul.mainNav li a {float:left; width:190px; height:20px; line-height:20px; color:#01546E; text-decoration:none; font-weight:bold; margin-left:20px; display:block;}
#leftColumn ul.mainNav li a:hover {color:#0189B6;}
#leftColumn ul.mainNav li.selected a{color:#0189B6;}

#miniBanners {width:205px; margin:20px 0 0 5px; float:left}
#miniBanners ul {margin:0 0 20px 0; display:block;}
#miniBanners ul li {display:block;}
#miniBanners ul li a{display:block;}

#miniBanners ul li a.pdf {margin-left:8px; display:block; color:#666; text-decoration:none;}
#miniBanners ul li a.mail {margin:0 0 0 8px; display:block; color:#666; text-decoration:none; height:70px; line-height:70px;}
#miniBanners ul li a.mail:hover, a.pdf:hover {text-decoration:underline;}



#miniBanners ul.mail {margin:0 0 20px 0; display:block; float:left; width:200px;}
#miniBanners ul.mail img {margin:0 3px 0 0; display:block; float:left;}

#miniBanners ul.pdf {margin:0 0 20px 0; display:block; float:left;}

#miniBanners ul.mail li a img {float:left;}
#miniBanners ul.pdf li a img {float:left;}

#miniBanners ul.bannerAdobe {margin-bottom:0;}
#miniBanners ul.bannerAdobe li a.adobeReader {width:165px; color:#666; text-decoration:none;}
#miniBanners ul.bannerAdobe li a.adobeReader:hover {text-decoration:underline;}

/*** CONTEÚDO PRINCIPAL ***************/
#content {float:left; width:740px; *width:740px; padding-bottom:6px;}

#header {float:left; width:740px; margin-top:11px;}
#slogan {float:left; width:332px; height:318px; margin-top:10px;}
#slogan h2 {float:left; width:297px; height:80px; overflow:hidden; background:url(../images/chamada-salesfarma.gif) no-repeat; text-indent:-9000px; margin:15px 0 0 15px; display:inline;}
#slogan h3 {float:left; color:#FFF; font:bold 13px Verdana, Arial, sans-serif; margin:15px 0 0 15px; display:inline;}

#webdoor {float:left; width:408px; margin-right:-3px; margin-top:20px;}
#webdoor img {float:left;}
#webdoor object {position:absolute; z-index:1;}

#chamadaSalesFarma {float:left; margin:105px 0 0 5px; display:inline;}
#chamadaSalesFarma a img {float:left; margin-top:15px;}
#chamadaSalesFarma h4.titSalesFarma {float:left; width:158px; height:19px; overflow:hidden; background:url(../images/tit-o-que-e-salesfarma.gif) no-repeat; text-indent:-9000px; margin:15px 0 0 8px; display:inline;}
#chamadaSalesFarma p {float:left; width:200px; margin-left:8px; display:inline; margin-bottom:15px;}
#chamadaSalesFarma a {float:left; font-size:10px; font-weight:bold; text-decoration:none; margin-left:8px; display:inline;}
#chamadaSalesFarma a:hover {color:#F90;}

#bannersDestaque {float:left; margin:15px 0 0 15px; display:inline; width:302px;}
#bannerBeneficios {float:left; background:#83909D url(../images/banner-beneficios.jpg) no-repeat; width:302px; height:190px;}
#bannerBeneficios ul {float:left; width:140px; margin:35px 0 0 14px; display:inline;}
#bannerBeneficios ul li {float:left; margin-top:5px;}
#bannerBeneficios ul p {float:left; color:#FFF; font-size:12px;}
#bannerBeneficios a img {float:left; clear:both; margin:10px 0 0 12px; display:inline;}
#bannerBeneficios p#chamada {float:left; color:#FFF; width:292px; margin:11px -3px 0 0; padding-left:10px;}

#bannerDemos {float:left; background:url(../images/bkg-demos-salesfarma.jpg) repeat-x top left; height:160px; width:302px; margin-top:15px; margin-right:-3px;}
#bannerDemos h4.titDemos {float:left; width:241px; height:21px; overflow:hidden; background:url(../images/tit-demos-salesfarma.gif) no-repeat; text-indent:-9000px; margin:10px 0 10px 10px; display:inline;}
#bannerDemos img {float:left; margin-left:10px; display:inline;}
#bannerDemos p {float:left; width:188px; margin-left:20px; display:inline;}
#bannerDemos a img {float:left; margin:10px 0 0 20px; display:inline;}
#bannerDemos img#icone {margin:0;}

#cenario {float:left; width:408px; margin:15px 0 0 15px; display:inline; margin-right:-3px;}
#cenario ul {float:left; width:200px; margin-top:10px; margin-left:2px; display:inline;}
#cenario ul.colDireita {float:left; width:200px; margin-left:6px; display:inline;}
#cenario ul li {float:left;}
#cenario ul li a {float:left; width:200px; color:#666; text-decoration:none;}
#cenario ul li a:hover {float:left; text-decoration:underline;}
#cenario ul li a img {float:left; margin-top:5px;}
#cenario h4.titCenario {float:left; width:408px; height:24px; overflow:hidden; background:url(../images/tit-cenario-funcional.jpg) no-repeat; text-indent:-9000px;}
#cenario h4.titMobile {float:left; width:48px; height:18px; overflow:hidden; background:url(../images/tit-mobile.gif) no-repeat; text-indent:-9000px;}
#cenario h4.titCentralComunica {float:left; width:165px; height:18px; overflow:hidden; background:url(../images/tit-central-de-comunicacao.gif) no-repeat; text-indent:-9000px;}
#cenario h4.titBackoffice {float:left; width:72px; height:18px; overflow:hidden; background:url(../images/tit-backoffice.gif) no-repeat; text-indent:-9000px; margin-top:5px;}
#cenario h4.titRelatorios {float:left; width:149px; height:18px; overflow:hidden; background:url(../images/tit-relatorios-gerenciais.gif) no-repeat; text-indent:-9000px; margin-top:5px;}

/*** FOOTER *********************/
#footer {width:100%; height:40px; background:#E4E6EA; float:left;}
#contentFooter {width:953px; height:40px; margin:0 auto;}
#bkgMainNav {background:url(../images/bkg-col-main-nav.png) repeat-y top left; width:953px; height:40px; margin:0 auto;}
#bkgMainNav p {float:left; margin:17px 0 0 640px; display:inline;}





/**************************************/
/*** PÁGINAS INTERNAS *****************/
/**************************************/

#contentInterna {float:left; width:740px; margin-right:-3px;}
#contentInterna img.pesqMercado {float:left;}

/*#contentPromoMedica {float:left; width:740px;}
#contentVisFarma {float:left; width:740px; padding-bottom:170px;}
#contentVisHosp {float:left; width:740px; padding-bottom:170px;}
#contentMerchan {float:left; width:740px; padding-bottom:170px;}
#contentAvaliacao {float:left; width:740px; padding-bottom:170px;}
#contentPesquisa {float:left; width:740px; padding-bottom:170px;}
#contentReembolso {float:left; width:740px; padding-bottom:170px;}
#contentReqViagens {float:left; width:740px; padding-bottom:170px;}
#contentLocalizacao {float:left; width:740px; padding-bottom:170px;}
#contentHelp {float:left; width:740px; padding-bottom:170px;}

#contentSalesFarma {float:left; width:740px; padding-bottom:170px;}
#contentBeneficios {float:left; width:740px; padding-bottom:170px;}
#contentFaleConosco {float:left; width:740px; padding-bottom:170px;}*/

/*#contentHelpDesk {float:left; width:740px; padding-bottom:150px;}*/

/*** HEADER ***************************/
#leftColumnInterna {float:left; width:213px; background:url(../images/bkg-col-main-nav.png) repeat-y top left;}
#leftColumnInterna h1 {float:left; width:157px; height:50px; overflow:hidden; background:url(../images/logo-salesfarma.gif) no-repeat; text-indent:-9000px; margin:30px 0 15px 28px; display:inline;}
#leftColumnInterna h1 a {display:block; width:157px; height:50px;}
#leftColumnInterna span.bkgColEsq {display:block; background:url(../images/bkg-top-col-esq.gif) repeat-x top left; width:210px; height:5px;}

#leftColumnInterna ul.mainNav {margin-top:20px;}
#leftColumnInterna ul.mainNav li {float:left; width:210px; margin-top:2px; background:url(../images/bkg-main-nav.jpg) no-repeat top left;}
#leftColumnInterna ul.mainNav li a {float:left; width:190px; height:20px; line-height:20px; color:#01546E; text-decoration:none; font-weight:bold; margin-left:20px; display:inline;}
#leftColumnInterna ul.mainNav li a:hover {float:left; color:#0189B6;}
#leftColumnInterna ul.mainNav li.selected a{color:#0189B6;}

#sloganInterna {float:left; width:740px; height:50px; margin-top:10px;}
#sloganInterna h2.interna {float:left; width:300px; height:34px; overflow:hidden; background:url(../images/chamada-interna-salesfarma.gif) no-repeat; text-indent:-9000px; margin:10px 0 0 15px; display:inline;}

#breadcrumb {float:right; text-align:center; height:20px; margin-top:30px; background:url(../images/bkg-esq-breadcrumb.gif) no-repeat top left; padding-left:10px;}
#breadcrumb span.breadcrumb {float:left; background:url(../images/bkg-dir-breadcrumb.gif) no-repeat top right; height:20px; padding-right:10px;}
#breadcrumb span.breadcrumb span.content {color:#F60; background:#FFF; height:20px; line-height:20px; display:block;}
#breadcrumb span.breadcrumb span.content strong {color:#666;}
#breadcrumb span.breadcrumb span.content a {color:#666; text-decoration:none;}
#breadcrumb span.breadcrumb span.content a:hover{text-decoration:underline;}

/*** PROMOÇÃO MÉDICA *********/
#detalhePromocao h3.titPromocao {float:left; width:450px; height:30px; overflow:hidden; background:url(../images/tit-interna-promocao-medica.gif) no-repeat; text-indent:-9000px; margin:15px 0 5px 0;}
#detalhePromocao {float:left; width:725px; margin:0 0 20px 15px; display:inline; margin-right:-3px;}
#detalhePromocao ul.listaBullet {margin:12px 0;}
#detalhePromocao ul.listaBullet li {background:url(../images/bullet-azul.gif) no-repeat 0 7px; clear:left;}
#detalhePromocao ul.listaBullet li p {padding-left:10px; margin:0;}
#detalhePromocao p {margin:12px 0;}
#detalhePromocao img {float:left; margin:45px 0 0 15px; display:inline;}
#contentPromocao {float:left; width:450px;}

#boxTopicosSalesFarma ul.topicosPromocao {float:left; width:420px; margin:15px 10px; display:inline;}
#boxTopicosSalesFarma ul.topicosPromocao li {float:left; margin-bottom:15px; width:420px; background:url(../images/bullet-azul.gif) no-repeat 0 7px;}
#boxTopicosSalesFarma ul.topicosPromocao li p {float:left; padding-left:10px;}
#boxTopicosSalesFarma ul.topicosPromocao li.noBullet {float:left; background:none;}

h5.promocao {float:left; color:#008AA8; font-weight:bold; font-size:14px; width:450px;}


/*** VISITAÇÃO HOSPITALAR *********/
#detalheVisitacao h3.titVisitacao {float:left; width:725px; height:30px; overflow:hidden; background:url(../images/tit-interna-visitacao-hospitalar.gif) no-repeat; text-indent:-9000px; margin:15px 0 5px 0;}
#detalheVisitacao {float:left; width:725px; margin:0 0 20px 15px; display:inline; margin-right:-3px;}
#detalheVisitacao ul.listaBullet {margin:12px 0;}
#detalheVisitacao ul.listaBullet li {background:url(../images/bullet-azul.gif) no-repeat 0 7px; clear:left;}
#detalheVisitacao ul.listaBullet li p {padding-left:10px; margin:0;}
#detalheVisitacao p {margin:12px 0;}
#detalheVisitacao img {float:left; margin:0 20px 0 0; display:inline;}
#contentVisitacao {float:left; width:450px;}

h5.visitacao {float:left; color:#008AA8; font-weight:bold; font-size:14px; width:450px;}
#contentModelosVisitacao {float:left; width:725px; margin-left:15px; display:inline; background:url(../images/img-hospital.jpg) no-repeat 400px 45px; margin-right:-3px;}
#boxTopicosVisitacao h5 {float:left; width:350px;}

#boxTopicosVisitacao {float:left; background:url(../images/bkg-centro-box-interna-salesfarma.jpg) repeat-x top left; width:380px; margin-right:-3px;}
#boxTopicosVisitacao span.bkgBoxLeft {float:left; background:url(../images/bkg-esq-box-interna-salesfarma.jpg) no-repeat top left; width:12px; height:386px;}
#boxTopicosVisitacao span.bkgBoxRight {float:right; background:url(../images/bkg-dir-box-interna-salesfarma.jpg) no-repeat top right; width:12px; height:386px;}

#boxTopicosVisitacao ul.topicosVisitacao {float:left; width:350px; margin-top:15px;}
#boxTopicosVisitacao ul.topicosVisitacao li {float:left; margin-bottom:15px; width:350px; background:url(../images/bullet-azul.gif) no-repeat 0 7px;}
#boxTopicosVisitacao ul.topicosVisitacao li p {float:left; padding-left:10px;}
#boxTopicosVisitacao ul.topicosVisitacao li.noBullet {float:left; background:none;}

/*** BENEFÍCIOS *********/
#detalheBeneficios h3.titBeneficios {float:left; width:725px; height:30px; overflow:hidden; background:url(../images/tit-interna-beneficios.gif) no-repeat; text-indent:-9000px; margin:15px 0 5px 0;}
#detalheBeneficios {float:left; width:725px; margin:0 0 20px 15px; display:inline; margin-right:-3px;}
#detalheBeneficios ul.listaBullet {margin:12px 0;}
#detalheBeneficios ul.listaBullet li {background:url(../images/bullet-azul.gif) no-repeat 0 7px; clear:left;}
#detalheBeneficios ul.listaBullet li p {padding-left:10px; margin:0;}
#detalheBeneficios p {margin:12px 0;}
#detalheBeneficios img {float:left; margin:0 20px 0 0; display:inline;}
#contentBeneficios {float:left; width:450px;}

h5.beneficios {float:left; color:#008AA8; font-weight:bold; font-size:14px; width:300px;}
#contentModelosBeneficios {float:left; width:725px; margin-left:15px; display:inline; margin-right:-3px;}
div.boxTopicosBeneficios h5 {float:left; width:300px;}

div.boxTopicosBeneficios {float:left; background:url(../images/bkg-centro-box-interna-salesfarma.jpg) repeat-x top left; width:350px; margin-right:-3px; margin:0 6px; display:inline;}
div.boxTopicosBeneficios span.bkgBoxLeft {float:left; background:url(../images/bkg-esq-box-interna-salesfarma.jpg) no-repeat top left; width:12px; height:386px;}
div.boxTopicosBeneficios span.bkgBoxRight {float:right; background:url(../images/bkg-dir-box-interna-salesfarma.jpg) no-repeat top right; width:12px; height:386px;}

div.boxTopicosBeneficios ul.topicosBeneficios {float:left; width:320px; margin-top:15px;}
div.boxTopicosBeneficios ul.topicosBeneficios li {float:left; margin-bottom:15px; width:320px; background:url(../images/bullet-azul.gif) no-repeat 0 7px;}
div.boxTopicosBeneficios ul.topicosBeneficios li p {float:left; padding-left:10px; width:310px;}
div.boxTopicosBeneficios ul.topicosBeneficios li.noBullet {float:left; background:none;}

/*** VISITAÇÃO FARMÁCIA *********/
#detalheFarmacia h3.titFarmacia {float:left; width:725px; height:30px; overflow:hidden; background:url(../images/tit-interna-visitacao-farmacia.gif) no-repeat; text-indent:-9000px; margin:15px 0 5px 0;}
#detalheFarmacia {float:left; width:725px; margin:0 0 20px 15px; display:inline; margin-right:-3px;}
#detalheFarmacia ul.listaBullet {margin:12px 0;}
#detalheFarmacia ul.listaBullet li {background:url(../images/bullet-azul.gif) no-repeat 0 7px; clear:left;}
#detalheFarmacia ul.listaBullet li p {padding-left:10px; margin:0;}
#detalheFarmacia p {margin:12px 0;}
#detalheFarmacia img {float:left; margin:0 20px 0 0; display:inline;}
#contentFarmacia {float:left; width:450px;}

h5.farmacia {float:left; color:#008AA8; font-weight:bold; font-size:14px; width:450px;}
#contentModelosFarmacia {float:left; width:725px; margin-left:15px; display:inline; background:url(../images/img-executivo-terno.jpg) no-repeat 480px 0; margin-right:-3px;}
#boxTopicosFarmacia h5 {float:left; width:350px;}

#boxTopicosFarmacia {float:left; background:url(../images/bkg-centro-box-interna-salesfarma.jpg) repeat-x top left; width:480px; margin-right:-3px;}
#boxTopicosFarmacia span.bkgBoxLeft {float:left; background:url(../images/bkg-esq-box-interna-salesfarma.jpg) no-repeat top left; width:12px; height:386px;}
#boxTopicosFarmacia span.bkgBoxRight {float:right; background:url(../images/bkg-dir-box-interna-salesfarma.jpg) no-repeat top right; width:12px; height:386px;}

#boxTopicosFarmacia ul.topicosFarmacia {float:left; width:450px; margin-top:15px;}
#boxTopicosFarmacia ul.topicosFarmacia li {float:left; margin-bottom:15px; width:450px; background:url(../images/bullet-azul.gif) no-repeat 0 7px;}
#boxTopicosFarmacia ul.topicosFarmacia li p {float:left; padding-left:10px;}
#boxTopicosFarmacia ul.topicosFarmacia li.noBullet {float:left; background:none;}

/*** MERCHANDISING *********/
#detalheMerchandising h3.titMerchandising {float:left; width:725px; height:30px; overflow:hidden; background:url(../images/tit-interna-merchandising.gif) no-repeat; text-indent:-9000px; margin:15px 0 5px 0;}
#detalheMerchandising {float:left; width:725px; margin:0 0 20px 15px; display:inline; margin-right:-3px;}
#detalheMerchandising ul.listaBullet {margin:12px 0;}
#detalheMerchandising ul.listaBullet li {background:url(../images/bullet-azul.gif) no-repeat 0 7px; clear:left;}
#detalheMerchandising ul.listaBullet li p {padding-left:10px; margin:0;}
#detalheMerchandising p {margin:12px 0;}
#detalheMerchandising img {float:left; margin:0 20px 0 0; display:inline;}
#contentMerchandising {float:left; width:450px;}

h5.merchandising {float:left; color:#008AA8; font-weight:bold; font-size:14px; width:450px;}
#contentModelosMerchandising {float:left; width:725px; margin-left:15px; display:inline; background:url(../images/img-remedios-prateleira.jpg) no-repeat 400px 45px; margin-right:-3px;}
#boxTopicosMerchandising h5 {float:left; width:350px;}

#boxTopicosMerchandising {float:left; background:url(../images/bkg-centro-box-interna-salesfarma.jpg) repeat-x top left; width:380px; margin-right:-3px;}
#boxTopicosMerchandising span.bkgBoxLeft {float:left; background:url(../images/bkg-esq-box-interna-salesfarma.jpg) no-repeat top left; width:12px; height:386px;}
#boxTopicosMerchandising span.bkgBoxRight {float:right; background:url(../images/bkg-dir-box-interna-salesfarma.jpg) no-repeat top right; width:12px; height:386px;}

#boxTopicosMerchandising ul.topicosMerchandising {float:left; width:350px; margin-top:15px;}
#boxTopicosMerchandising ul.topicosMerchandising li {float:left; margin-bottom:15px; width:350px; background:url(../images/bullet-azul.gif) no-repeat 0 7px;}
#boxTopicosMerchandising ul.topicosMerchandising li p {float:left; padding-left:10px;}
#boxTopicosMerchandising ul.topicosMerchandising li.noBullet {float:left; background:none;}

/*** REQUISIÇÃO DE VIAGENS *********/
#detalheViagens h3.titViagens {float:left; width:725px; height:30px; overflow:hidden; background:url(../images/tit-interna-viagens.gif) no-repeat; text-indent:-9000px; margin:15px 0 5px 0;}
#detalheViagens h5{width:725px; margin-bottom:5px;}
#detalheViagens {float:left; width:725px; margin:0 0 20px 15px; display:inline; margin-right:-3px;}
#detalheViagens ul.listaBullet {margin:12px 0;}
#detalheViagens ul.listaBullet li {background:url(../images/bullet-azul.gif) no-repeat 0 7px; clear:left;}
#detalheViagens ul.listaBullet li p {padding-left:10px; margin:0;}
#detalheViagens p {margin:12px 0;}
#detalheViagens img {float:left; margin:0 20px 0 0; display:inline;}
#contentViagens {float:left; width:725px;}

h5.viagens {float:left; color:#008AA8; font-weight:bold; font-size:14px; width:450px;}
#contentModelosViagens {float:left; width:725px; margin-left:15px; display:inline; background:url(../images/img-viagens.jpg) no-repeat 500px 0; margin-right:-3px;}
#boxTopicosViagens h5 {float:left; width:350px;}

#boxTopicosViagens {float:left; background:url(../images/bkg-centro-box-interna-salesfarma.jpg) repeat-x top left; width:450px; margin-right:-3px;}
#boxTopicosViagens span.bkgBoxLeft {float:left; background:url(../images/bkg-esq-box-interna-salesfarma.jpg) no-repeat top left; width:12px; height:386px;}
#boxTopicosViagens span.bkgBoxRight {float:right; background:url(../images/bkg-dir-box-interna-salesfarma.jpg) no-repeat top right; width:12px; height:386px;}

#boxTopicosViagens ul.topicosViagens {float:left; width:420px; margin-top:15px;}
#boxTopicosViagens ul.topicosViagens li {float:left; margin-bottom:15px; width:420px; background:url(../images/bullet-azul.gif) no-repeat 0 7px;}
#boxTopicosViagens ul.topicosViagens li p {float:left; padding-left:10px;}
#boxTopicosViagens ul.topicosViagens li.noBullet {float:left; background:none;}

/*** REEMBOLSO DE DESPESAS *********/
#detalheReembolso h3.titReembolso {float:left; width:725px; height:30px; overflow:hidden; background:url(../images/tit-interna-reembolso.gif) no-repeat; text-indent:-9000px; margin:15px 0 5px 0;}
#detalheReembolso {float:left; width:725px; margin:0 0 20px 15px; display:inline; margin-right:-3px;}
#detalheReembolso ul.listaBullet {margin:12px 0;}
#detalheReembolso ul.listaBullet li {background:url(../images/bullet-azul.gif) no-repeat 0 7px; clear:left;}
#detalheReembolso ul.listaBullet li p {padding-left:10px; margin:0;}
#detalheReembolso p {margin:12px 0;}
#detalheReembolso img {float:left; margin:0 20px 0 0; display:inline;}
#contentReembolso {float:left; width:450px;}

h5.reembolso {float:left; color:#008AA8; font-weight:bold; font-size:14px; width:450px;}
#contentModelosReembolso {float:left; width:725px; margin-left:15px; display:inline; background:url(../images/img-mulher-note.jpg) no-repeat; margin-right:-3px;}
#boxTopicosReembolso h5 {float:left; width:350px;}

#boxTopicosReembolso {float:right; background:url(../images/bkg-centro-box-interna-salesfarma.jpg) repeat-x top left; width:350px; margin-right:-3px;}
#boxTopicosReembolso span.bkgBoxLeft {float:left; background:url(../images/bkg-esq-box-interna-salesfarma.jpg) no-repeat top left; width:12px; height:386px;}
#boxTopicosReembolso span.bkgBoxRight {float:right; background:url(../images/bkg-dir-box-interna-salesfarma.jpg) no-repeat top right; width:12px; height:386px;}

#boxTopicosReembolso ul.topicosReembolso {float:left; width:320px; margin-top:15px;}
#boxTopicosReembolso ul.topicosReembolso li {float:left; margin-bottom:15px; width:320px; background:url(../images/bullet-azul.gif) no-repeat 0 7px;}
#boxTopicosReembolso ul.topicosReembolso li p {float:left; padding-left:10px;}
#boxTopicosReembolso ul.topicosReembolso li.noBullet {float:left; background:none;}

/*** AVALIAÇÃO DO CONHECIMENTO *********/
#detalheAvaliacao h3.titAvaliacao {float:left; width:725px; height:30px; overflow:hidden; background:url(../images/tit-interna-avaliacao.gif) no-repeat; text-indent:-9000px; margin:15px 0 5px 0;}
#detalheAvaliacao {float:left; width:725px; margin:0 0 20px 15px; display:inline; margin-right:-3px;}
#detalheAvaliacao ul.listaBullet {margin:12px 0;}
#detalheAvaliacao ul.listaBullet li {background:url(../images/bullet-azul.gif) no-repeat 0 7px; clear:left;}
#detalheAvaliacao ul.listaBullet li p {padding-left:10px; margin:0;}
#detalheAvaliacao p {margin:12px 0;}
#detalheAvaliacao img {float:left; margin:0 20px 0 0; display:inline;}
#contentAvaliacao {float:left; width:450px;}

h5.avaliacao {float:left; color:#008AA8; font-weight:bold; font-size:14px; width:450px;}
#contentModelosAvaliacao {float:left; width:725px; margin-left:15px; display:inline; background:url(../images/img-executiva-palm.jpg) no-repeat; margin-right:-3px;}
#boxTopicosAvaliacao h5 {float:left; width:350px;}

#boxTopicosAvaliacao {float:right; background:url(../images/bkg-centro-box-interna-salesfarma.jpg) repeat-x top left; width:350px; margin-right:-3px;}
#boxTopicosAvaliacao span.bkgBoxLeft {float:left; background:url(../images/bkg-esq-box-interna-salesfarma.jpg) no-repeat top left; width:12px; height:386px;}
#boxTopicosAvaliacao span.bkgBoxRight {float:right; background:url(../images/bkg-dir-box-interna-salesfarma.jpg) no-repeat top right; width:12px; height:386px;}

#boxTopicosAvaliacao ul.topicosAvaliacao {float:left; width:320px; margin-top:15px;}
#boxTopicosAvaliacao ul.topicosAvaliacao li {float:left; margin-bottom:15px; width:320px; background:url(../images/bullet-azul.gif) no-repeat 0 7px;}
#boxTopicosAvaliacao ul.topicosAvaliacao li p {float:left; padding-left:10px;}
#boxTopicosAvaliacao ul.topicosAvaliacao li.noBullet {float:left; background:none;}

/*** FALE CONOSCO *********/
#detalheFale h3.titFale {float:left; width:725px; height:30px; overflow:hidden; background:url(../images/tit-interna-fale.gif) no-repeat; text-indent:-9000px; margin:15px 0 5px 0;}
#detalheFale {float:left; width:725px; margin:0 0 0 15px; display:inline; margin-right:-3px; padding-bottom:350px; background:url(../images/img-fale-conosco.jpg) no-repeat 430px 30px;}
#detalheFale p {float:left; margin:0 0 12px 0; width:450px;}
#detalheFale p.txt {float:left; margin:0 0 25px 0; width:450px;}
#detalheFale p.aviso span {float:left; display:block; height:30px; margin:0 0 10px 0; width:325px; color:#F00;}
#detalheFale p label {float:left; width:90px;}

input {float:left; width:300px; font:11px Verdana, Arial, sans-serif; color:#008AA8;}
.btnEnvia {float:left; width:70px;}
.textarea {float:left; font:11px Verdana, Arial, sans-serif; color:#008AA8;}

/*#detalheFale img {float:left; margin:0 0 0 30px; display:inline;}
#contentFale {float:left; width:450px;}

#detalheFale ul.listaBullet {margin:12px 0;}
#detalheFale ul.listaBullet li {background:url(../images/bullet-azul.gif) no-repeat 0 7px; clear:left;}
#detalheFale ul.listaBullet li p {padding-left:10px; margin:0;}*/


/*** HELP DESK *********/
#detalheHelp h3.titHelp {float:left; width:725px; height:30px; overflow:hidden; background:url(../images/tit-interna-help.gif) no-repeat; text-indent:-9000px; margin:15px 0 5px 0;}
#detalheHelp {float:left; width:725px; margin:0 0 0 15px; display:inline; margin-right:-3px;}
#detalheHelp ul.listaBullet {margin:12px 0;}
#detalheHelp ul.listaBullet li {background:url(../images/bullet-azul.gif) no-repeat 0 7px; clear:left;}
#detalheHelp ul.listaBullet li p {padding-left:10px; margin:0;}
#detalheHelp p {margin:0 0 12px 0;}
#detalheHelp img {float:left; margin:0 0 0 30px; display:inline;}
#contentHelp {float:left; width:450px;}

h5.help {float:left; color:#008AA8; font-weight:bold; font-size:14px; width:450px;}
#contentModelosHelp {float:left; width:725px; margin:0 -3px 0 15px; display:inline; background:url(../images/img-help-desk2.jpg) no-repeat;}

#boxTopicosHelp h5 {float:left; width:350px;}

#boxTopicosHelp {float:right; background:#FFF url(../images/bkg-centro-box-interna-salesfarma.jpg) repeat-x top left; width:500px; margin:0 -3px 0 0; padding-bottom:20px;}
#boxTopicosHelp span.bkgBoxLeft {float:left; background:url(../images/bkg-esq-box-interna-salesfarma.jpg) no-repeat top left; width:12px; height:386px;}
#boxTopicosHelp span.bkgBoxRight {float:right; background:url(../images/bkg-dir-box-interna-salesfarma.jpg) no-repeat top right; width:12px; height:386px;}


#boxTopicosHelp ul.topicosHelp {float:left; width:470px;}
#boxTopicosHelp ul.topicosHelp li {background:url(../images/bullet-azul.gif) no-repeat 0 7px; float:left; margin-top:12px; padding-left:10px;}
#boxTopicosHelp ul.topicosHelp li.noBullet{background:none; padding:0;}
#boxTopicosHelp ul.topicosHelp li.noBullet h5 {float:left; color:#008AA8; font-weight:bold; font-size:14px; width:470px;}
#boxTopicosHelp ul.topicosHelp h6 {float:left; color:#666; font-weight:bold; font-size:11px; width:470px;}
#boxTopicosHelp ul.topicosHelp li p {float:left; width:470px;}


/*** INTERNA ***/
#details {float:left; width:725px; margin:0 0 20px 15px; display:inline; margin-right:-3px;}
#details ul.listaBullet {margin:12px 0;}
#details ul.listaBullet li {background:url(../images/bullet-azul.gif) no-repeat 0 7px; clear:left;}
#details ul.listaBullet li p {padding-left:10px; margin:0;}
#details p {margin:12px 0;}
#details h3.titDemos{float:left; width:725px; height:30px; overflow:hidden; background:url(../images/tit-interna-demos.gif) no-repeat; text-indent:-9000px; margin:15px 0 5px 0;}

/*** O QUE É SALES FARMA? ************/
#detalhe h3.titSalesFarma {float:left; width:725px; height:30px; overflow:hidden; background:url(../images/tit-interna-o-que-e-salesfarma.gif) no-repeat; text-indent:-9000px; margin:15px 0 5px 0;}
#detalhe {float:left; width:725px; margin:0 0 20px 15px; display:inline; margin-right:-3px;}
#detalhe img {float:left; margin-top:48px;}
#detalhe p {float:left; width:465px; margin-left:10px; display:inline; margin-right:-3px;}
#detalhe p strong {color:#008AA8;}
#detalhe a img.bannerBeneficios {float:left; margin:12px 0 12px 10px; display:inline;}

#multiPlataforma {float:left; width:725px; margin-left:15px; display:inline; margin-right:-3px; background:url(../images/img-devices.jpg) no-repeat 420px 35px;}
div.intro {float:left; width:410px;}
h5 {float:left; color:#008AA8; font-weight:bold; font-size:14px; width:330px; margin-top:12px;}
div.intro p {float:left; width:400px; margin-top:12px;}

#imgSalesFarma {float:left; margin:20px 0 0 20px; display:inline;}
#imgSalesFarma img {float:left; display:block; margin-top:120px;}
#boxTopicosSalesFarma {float:left; margin:20px 0 0 20px; background:url(../images/bkg-centro-box-interna-salesfarma.jpg) repeat-x top left; width:380px; margin-right:-3px; display:inline;}
#boxTopicosSalesFarma span.bkgBoxLeft {float:left; background:url(../images/bkg-esq-box-interna-salesfarma.jpg) no-repeat top left; width:12px; height:386px;}
#boxTopicosSalesFarma span.bkgBoxRight {float:right; background:url(../images/bkg-dir-box-interna-salesfarma.jpg) no-repeat top right; width:12px; height:386px;}

#boxTopicosSalesFarma ul.topicos {float:left; width:330px; margin:15px 10px; display:inline;}
#boxTopicosSalesFarma ul.topicos li {float:left; margin-bottom:15px; width:330px; background:url(../images/bullet-azul.gif) no-repeat 0 7px;}
#boxTopicosSalesFarma ul.topicos li p {float:left; padding-left:10px;}
#boxTopicosSalesFarma ul.topicos li.noBullet {float:left; background:none;}

/*** LOCALIZAÇÃO GPS ************/
#detalheLocalizacao {float:left; width:725px; margin:0 0 20px 15px; display:inline; margin-right:-3px; background:url(../images/img-notebook.jpg) no-repeat 240px 30px;}
#detalheLocalizacao h3.titLocalizazao {float:left; width:725px; height:30px; overflow:hidden; background:url(../images/tit-interna-localizacao-gps.gif) no-repeat; text-indent:-9000px; margin:15px 0 5px 0;}
#detalheLocalizacao p {float:left; width:450px; margin:12px 0;}
#detalheLocalizacao p.workflow {float:left; width:500px; margin:0;}
#detalheLocalizacao p.first {float:left; width:470px; margin:12px 0 0 0;}

#detalheLocalizacao ul.listaBullet {float:left; width:400px; margin:12px 0;}
#detalheLocalizacao ul.listaBullet li {float:left; background:url(../images/bullet-azul.gif) no-repeat 0 7px;}
#detalheLocalizacao ul.listaBullet li p {float:left; padding-left:10px; margin:0; width:400px;}

#contentModelos {float:left; width:725px; margin-left:15px; display:inline; margin-right:-3px;}
#contentModelos img {float:left;}

#contentModelos #boxTopicosSalesFarma{float:right; width:470px; margin:0 0 10px 15px; display:inline; margin-right:-3px;}
#contentModelos #boxTopicosSalesFarma h5 {float:left; width:300px;}

#boxModelosAplicacao img {float:left; display:block; width:183px; height:320px;}
#boxModelosAplicacao {float:right; background:url(../images/bkg-centro-box-interna-localizacao.gif) repeat-x top left; width:470px; margin:0 0 0 15px; display:inline; margin-right:-3px;}
#boxModelosAplicacao span.bkgBoxLeft {float:left; background:url(../images/bkg-esq-box-interna-localizacao.gif) no-repeat top left; width:14px; height:291px;}
#boxModelosAplicacao span.bkgBoxRight {float:right; background:url(../images/bkg-dir-box-interna-localizacao.gif) no-repeat top right; width:14px; height:291px;}

#boxModelosAplicacao ul.topicosModelo li h5.modelos {float:left; color:#008AA8; font-weight:bold; font-size:14px; width:440px;}
#boxModelosAplicacao ul.topicosModelo {float:left; width:440px;}
#boxModelosAplicacao ul.topicosModelo li {background:url(../images/bullet-azul.gif) no-repeat 0 7px; float:left; margin-top:12px; padding-left:10px;}
#boxModelosAplicacao ul.topicosModelo li.noBullet{background:none; padding-left:0;}
#boxModelosAplicacao ul.topicosModelo h6 {float:left; color:#666; font-weight:bold; font-size:11px; width:440px;}
#boxModelosAplicacao ul.topicosModelo li p {float:left; width:440px;}

/*** PESQUISA DE MERCADO *********/
#detalhePesquisa {float:left; width:725px; margin:0 0 20px 15px; display:inline;}
#detalhePesquisa h3.titPesquisa {float:left; width:725px; height:30px; overflow:hidden; background:url(../images/tit-interna-pesquisa-de-mercado.gif) no-repeat; text-indent:-9000px; margin:15px 0 5px 0;}
#detalhePesquisa img {float:left;}
#detalhePesquisa p {float:left; width:460px; margin-left:10px; display:inline;}
#detalhePesquisa h5.funcionalidades {float:left; color:#008AA8; font-weight:bold; font-size:14px; width:150px; margin:12px 0 0 10px; display:inline;}

#detalhePesquisa ul.listaBullet1 {float:left; width:400px; margin:12px 0 10px 10px; display:inline;}
#detalhePesquisa ul.listaBullet1 li {float:left; background:url(../images/bullet-azul.gif) no-repeat 0 7px;}
#detalhePesquisa ul.listaBullet1 li p {float:left; padding-left:10px; margin:0; width:400px;}

/*#contentPesquisa {float:left; padding-bottom:50px;}
#contentPesquisa img {float:left;}*/
#boxes {float:left; width:480px; margin-left:15px; display:inline; margin-right:-3px;}
#boxes img {float:left;}

#boxWorkflow {float:left; background:url(../images/bkg-centro-box-interna-pesquisa-workflow.gif) repeat-x top left; width:470px; margin-right:-3px;}
#boxWorkflow span.bkgBoxLeft {float:left; background:url(../images/bkg-esq-box-interna-pesquisa-workflow.gif) no-repeat top left; width:12px; height:170px;}
#boxWorkflow span.bkgBoxRight {float:right; background:url(../images/bkg-dir-box-interna-pesquisa-workflow.gif) no-repeat top right; width:12px; height:170px;}
#boxWorkflow span.bkgBoxLeft p {float:left; width:445px; margin:5px 0 0 10px; display:inline;}
#boxWorkflow span.bkgBoxLeft h5.workflow {float:left; width:400px; color:#F60; margin:10px 0 0 10px; display:inline;}
#boxWorkflow strong {color:#F60;}

#boxBeneficios {float:left; background:url(../images/bkg-centro-box-interna-pesquisa-beneficios.gif) repeat-x top left; width:470px; margin-right:-3px; margin-top:20px;}
#boxBeneficios span.bkgBoxLeft {float:left; background:url(../images/bkg-esq-box-interna-pesquisa-beneficios.gif) no-repeat top left; width:12px; height:140px;}
#boxBeneficios span.bkgBoxRight {float:right; background:url(../images/bkg-dir-box-interna-pesquisa-beneficios.gif) no-repeat top right; width:12px; height:140px;}
#boxBeneficios span.bkgBoxLeft h5.beneficios {float:left; width:400px; color:#008AA8; margin:10px 0 0 10px; display:inline;}


#boxBeneficios span.bkgBoxLeft ul.listaBullet1 {float:left; width:440px; margin:5px 0 10px 10px; display:inline;}
#boxBeneficios span.bkgBoxLeft ul.listaBullet1 li {float:left; background:url(../images/bullet-azul.gif) no-repeat 0 7px; width:420px;}
#boxBeneficios span.bkgBoxLeft ul.listaBullet1 li p {float:left; padding-left:10px; margin:0; width:420px;}
.noBullet {float:left; background:none;}

/*** CENÁRIO fUNCIONAL *********/
#detalheCenario {float:left; width:725px; margin:0 0 20px 15px; display:inline; margin-right:-3px; padding-bottom:100px;}




#demos #demoPromocaoMedica{background:url(../images/demo-promocao-medica.jpg) no-repeat; margin:0 20px 0 0;}
#demos #demoVisitacaoFarmacia{background:url(../images/demo-visitacao-farmacia.jpg) no-repeat;}
#demos #demoVisitacaoHospitalar{background:url(../images/demo-visitacao-hospitalar.jpg) no-repeat; margin:0 0 0 20px;}

#demos .box{width:210px; height:220px; float:left;}
#demos .box h5{width:210px; height:186px; display:inline; float:left; text-indent:-9000px; margin:0;}
#demos .box h5 a{display:block; width:210px; height:186px;}
#demos .box a.saibaMais{display:inline; float:right; margin:10px 10px 0 0; padding:0; color:#008AA7; text-decoration:none; font-weight:bold;}

#hiddenModalContent{display:none;}


/*** CAPTAÇÃO DE PEDIDO *********/
#detalhePromocao h3.titCaptacao {float:left; width:450px; height:30px; overflow:hidden; background:url(../images/tit-interna-captacao-pedido.gif) no-repeat; text-indent:-9000px; margin:15px 0 5px 0;}



/*** VENDA INDIRETA *********/
#detalheVendaIndireta h3.titVendaIndireta {float:left; width:725px; height:30px; overflow:hidden; background:url(../images/tit-interna-venda-indireta.gif) no-repeat; text-indent:-9000px; margin:15px 0 5px 0;}
#detalheVendaIndireta {float:left; width:725px; margin:0 0 20px 15px; display:inline; margin-right:-3px;}
#detalheVendaIndireta ul.listaBullet {margin:12px 0;}
#detalheVendaIndireta ul.listaBullet li {background:url(../images/bullet-azul.gif) no-repeat 0 7px; clear:left;}
#detalheVendaIndireta ul.listaBullet li p {padding-left:10px; margin:0;}
#detalheVendaIndireta p {margin:12px 0;}
#detalheVendaIndireta img {float:left; margin:0 20px 0 0; display:inline;}
#contentVendaIndireta {float:left; width:450px;}

h5.VendaIndireta {float:left; color:#008AA8; font-weight:bold; font-size:14px; width:450px;}
#contentModelosVendaIndireta {float:left; width:725px; margin-left:15px; display:inline; background:url(../images/img-vendaindireta2.jpg) no-repeat 400px 0; margin-right:-3px;}
#boxTopicosVendaIndireta h5 {float:left; width:350px;}

#boxTopicosVendaIndireta {float:left; background:url(../images/bkg-centro-box-interna-salesfarma.jpg) repeat-x top left; width:380px; margin-right:-3px;}
#boxTopicosVendaIndireta span.bkgBoxLeft {float:left; background:url(../images/bkg-esq-box-interna-salesfarma.jpg) no-repeat top left; width:12px; height:386px;}
#boxTopicosVendaIndireta span.bkgBoxRight {float:right; background:url(../images/bkg-dir-box-interna-salesfarma.jpg) no-repeat top right; width:12px; height:386px;}

#boxTopicosVendaIndireta ul.topicosVendaIndireta {float:left; width:350px; margin-top:15px;}
#boxTopicosVendaIndireta ul.topicosVendaIndireta li {float:left; margin-bottom:15px; width:350px; background:url(../images/bullet-azul.gif) no-repeat 0 7px;}
#boxTopicosVendaIndireta ul.topicosVendaIndireta li p {float:left; padding-left:10px;}
#boxTopicosVendaIndireta ul.topicosVendaIndireta li.noBullet {float:left; background:none;}



/*#detalheCaptacao {float:left; width:725px; margin:0 0 20px 15px; display:inline; margin-right:-3px;}
#detalheCaptacao ul.listaBullet {margin:12px 0;}
#detalheCaptacao ul.listaBullet li {background:url(../images/bullet-azul.gif) no-repeat 0 7px; clear:left;}
#detalheCaptacao ul.listaBullet li p {padding-left:10px; margin:0;}
#detalheCaptacao p {margin:12px 0;}
#detalheCaptacao img {float:left; margin:45px 0 0 15px; display:inline;}
#detalheCaptacao {float:left; width:450px;}

#boxTopicosSalesFarma ul.topicosCaptacao {float:left; width:420px; margin:15px 10px; display:inline;}
#boxTopicosSalesFarma ul.topicosCaptacao li {float:left; margin-bottom:15px; width:420px; background:url(../images/bullet-azul.gif) no-repeat 0 7px;}
#boxTopicosSalesFarma ul.topicosCaptacao li p {float:left; padding-left:10px;}
#boxTopicosSalesFarma ul.topicosCaptacao li.noBullet {float:left; background:none;}
#contentCaptacao {float:left; width:450px;}*/