/*   
  SmartWizard 2.0 plugin 
  jQuery Wizard control Plugin
  by Dipu
  
  http://www.techlaboratory.net
  http://tech-laboratory.blogspot.com
*/

/*.swMain {
    position:relative;
    display:block;
    margin:0;
    padding:0;
    border: 0px solid #CCC;
    overflow:visible;
    float:left;
    min-width: 878px;
}

.swMain .stepContainer {
    display:block;
    position: relative;
    margin: 0;
    padding:0;    
    border: 0px solid #CCC;    
    overflow:visible;
    clear:both;
    height: auto !important;
}*/

.swMain .stepContainer div.content {
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    clear: both;
    color: #5A5655;
    display: block;
    overflow: visible;
    padding: 5px;
    z-index: 88;
}

.swMain div.actionBar {
  clear:both;
  padding-top:10px;    
}

/*.swMain .stepContainer .StepTitle {
  display:block;
  position: relative;
  margin:0;   
  border:1px solid #E0E0E0;
  padding:5px;   
  font: bold 16px Verdana, Arial, Helvetica, sans-serif; 
  color:#5A5655;   
  background-color:#E0E0E0;
  clear:both;
  text-align:left; 
  z-index:88;
  -webkit-border-radius: 5px;
  -moz-border-radius  : 5px;    
}*/

.swMain ul.anchor {
    float:left;
    padding: 0px;  
}

.swMain ul.anchor li{ 
    display:block;
    padding-left:3px;
    padding-right: 3px;
    float: left;
}

.swMain ul.anchor li a {
    float:left;
    margin:0;
    padding:5px;
    -moz-border-radius  : 5px;
    -webkit-border-radius: 5px;
    z-index:99;
}

.swMain ul.anchor li a .stepNumber {
    font-weight: bold;
    font-size:x-large !important;
}

.swMain ul.anchor li a .stepDesc {
    font-size: larger;
}

.swMain ul.anchor li a.selected {
    color: #F8F8F8;
    background: #004767;
    border: 1px solid #004767;
    -moz-box-shadow: 5px 5px 8px #888;
    -webkit-box-shadow: 5px 5px 8px #888;
    box-shadow: 5px 5px 8px #888;
}

.swMain ul.anchor li a.selected:hover {
    color: #F8F8F8;
    background: #004767;
}

.swMain ul.anchor li a.done {
    color: #FFF;
    background: #5a5a5a;
    border: 1px solid #5a5a5a;
    z-index: 99;
}

.swMain ul.anchor li a.done:hover {
    color: #FFF;
    background: #5a5a5a;
    border: 1px solid #5a5a5a;
}

.swMain ul.anchor li a.disabled {
  color:#CCCCCC;  
  background: #F8F8F8;
  border: 1px solid #CCC;  
}

.swMain ul.anchor li a.disabled:hover {
  color:#CCCCCC;  
  background: #F8F8F8;     
}

.swMain ul.anchor li a.error {
  color:#6c6c6c !important;  
  background: #f08f75 !important;
  border: 1px solid #fb3500 !important;      
}

.swMain ul.anchor li a.error:hover {
  color:#000 !important;       
}

.swMain .buttonNext {
    float: right;
    margin: 0px 3px 0 3px;
    width: 100px;
}

.swMain .buttonDisabled {
    color:#F8F8F8  !important;
    background-color: #CCCCCC !important;
    border: 1px solid #CCCCCC  !important;
    cursor:text;    
}

.swMain .buttonPrevious {
    float: right;
    margin: 0px 3px 0 3px;
    width: 100px;
}

.swMain .buttonFinish {
    float: right;
    margin: 0px 3px 0 3px;
    width: 100px;
}

/* Form Styles */
/*.txtBox {
  border:1px solid #CCCCCC;
  color:#5A5655;
  font:13px Verdana,Arial,Helvetica,sans-serif;
  padding:2px;
  width:430px;
}*/

/*.txtBox:focus {
  border:1px solid #EA8511;
}*/

.swMain .loader {
  position:relative;  
  display:none;
  float:left;  
  margin: 2px 0 0 2px;
  padding:8px 10px 8px 40px;
  border: 1px solid #FFD700; 
  font: bold 13px Verdana, Arial, Helvetica, sans-serif; 
  color:#5A5655;       
  background: #FFF url(../images/loader.gif) no-repeat 5px;  
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
  z-index:998;
}

/*.swMain .msgBox {
  position:relative;  
  display:none;
  float:left;
  margin: 4px 0 0 5px;
  padding:5px;
  border: 1px solid #FFD700; 
  background-color: #FFFFDD;  
  font: normal 12px Verdana, Arial, Helvetica, sans-serif; 
  color:#5A5655;         
  -moz-border-radius  : 5px;
  -webkit-border-radius: 5px;
  z-index:999;
  min-width:200px;  
}*/

/*.swMain .msgBox .content {
  font: normal 12px Verdana,Arial,Helvetica,sans-serif;
  padding: 0px;
  float:left;
}*/

/*.swMain .msgBox .close {
  border: 1px solid #CCC;
  border-radius: 3px;
  color: #CCC;
  display: block;
  float: right;
  margin: 0 0 0 5px;
  outline-style: none;
  padding: 0 2px 0 2px;
  position: relative;
  text-align: center;
  text-decoration: none;
}*/

/*.swMain .msgBox .close:hover{
  color: #EA8511;
  border: 1px solid #EA8511;  
}*/
