.rm-slider{
    position: relative;
}

.rm-slider .bt-slider
{
    background-position: center !important;
    background-repeat: no-repeat !important;
    position: absolute;
    width: 50px;
    top: 0;
    bottom: 0;
    background: #2c94e1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rm-slider .bt-slider:hover
{
    background: #157dcb;
}

.rm-slider .bt-slider.left
{
    background-image: url('_left.png');
    background-position: center !important;
    left: 0;
}

.rm-slider .bt-slider.right
{
    background-image: url('_right.png');
    background-position: center !important;
    right: 0;
}

.rm-slider-content{
    padding-top: 5px;
    overflow: hidden;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
}

.rm-slider ul{
    padding: 0;
    margin: 0;
    height: 160px;
}

.rm-slider ul li{
    position: relative;
    list-style: none;
    display: inline-block;
    height: 150px;
    width: 150px;
    background-position:center;
    background-repeat: no-repeat;
    /*border: solid 1px #ebebeb;*/
    /*background: #ebebeb;*/
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;*/
    /*border: 1px #2d89ef solid;*/
    /*background-color: #2c94e1 !important;*/
}

.rm-slider ul li:hover{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
  cursor: pointer;
}

.rm-slider ul li.selected {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
    filter: alpha(opacity=100) !important;
    -moz-opacity: 1.0 !important;
    -khtml-opacity: 1.0 !important;
    opacity: 1.0 !important;
}

.rm-slider ul li.selected:before {
    position: absolute !important;
    content: "\2611" !important;
    font-size: 20px !important;
    color: #fff !important;
    right: 0px !important;
    z-index: 1 !important;
}

.rm-slider ul li.selected:after {
    width: 0;
    height: 0;
    border-top: 40px solid #07b11d !important;
    border-left: 40px solid transparent !important;
    position: absolute !important;
    display: block !important;
    right: 0 !important;
    content: " " !important;
    top: 0 !important;
    z-index: 0 !important;
}