
@import url(../../fonts/b1-password/font.css);

.linhaAgente
{
    height:80px;
}


.fake-password-field {
    font-family: 'B1 Password' !important;
    font-weight: normal;
    font-style: normal;
    font-size:8px !important;
}

.img-cabecalho {
    background-size: contain;
    min-height: 100px;
    background-position: center;
    background-repeat: no-repeat;
}

.interrogacao {
    background-image: url(../SalesDriver/images/sdc/ic_prova_icone.png);
}

.relogio {
    background-image: url(../SalesDriver/images/sdc/ic_tempo_questionario.png);
    opacity: 0.2;
}


#opcoes pre.clsPrePpcao{
    font-family:Verdana,Tahoma,sans-serif;
    font-size:14px;
    font-weight:bold;
    background-color:transparent;
    border:none;
    min-height:20px;
    margin:0px;
    height:auto;
    white-space:pre-wrap;
    word-break: unset;
}

.erro-acerto {
    border:none;
    padding:0px;
    margin:0px;
    background-size: contain;
    min-height: 100px;
    background-position: center;
    background-repeat: no-repeat;
}

.erro {
    background-image: url(../SalesDriver/images/sdc/smile-1_full@2x.png);
}

.acerto {
    background-image: url(../SalesDriver/images/sdc/smile-5_full@2x.png);
}


#setaPergunta {
    background-size: 48px 24px;
    background-position: center;
    background-repeat: no-repeat;
    height: 24px;
    padding: 0px;
    margin-top: -13px;
}

    #setaPergunta.baixo {
        background-image:url(../SalesDriver/images/sdc/seta_down.png);
    }

    #setaPergunta.cima {
        background-image:url(../SalesDriver/images/sdc/seta_up.png);
    }
#pergunta {
    font-family:Verdana,Tahoma,sans-serif;
    font-size:14px;
    font-weight:bold;
    min-height: 130px;
    height: 130px;
    overflow-y: auto;
    white-space: pre-wrap;
}

#legenda-tempo {
    margin-top: -30px;
}

#countdown {
    text-align: center;
    position: absolute;
    width: 162px;
    margin-top: 31px;
}


.main-content .divTTPagina {
    border-bottom: 2px solid #FDBC10;
    background-color: #fff;
}


    .main-content .divTTPagina > h1 {
        color: rgb(16, 159, 207);
        font-size: 20px;
        /*line-height:34px;*/
        background-color: #fff;
        font-weight: bold;
        padding-left: 6px;
        max-width: 700px;
        float: left;
        margin: 6px;
    }

    .main-content .divTTPagina > button {
        border: none;
        background-color: rgb(16, 159, 207);
        color: white;
        border-radius: 6px;
        padding: 3px 10px;
        font-weight: bolder;
        margin-top: 5px;
        margin-right: 10px;
        float: right;
        cursor: pointer;
    }

.main-content .trPForte,
.main-content .trDesenv,
.main-content .trDiscordancia,
.main-content .trDiscordanciaGrupo,
.main-content .trAfirmacaoGrupo,
.main-content .trAfirmacao {
    word-break: break-all;
}

.relCoaching .fancybox-inner {
    overflow: auto !important;
}

.linhaAvaliacao span {
    float: right;
    margin: 0px 4px;
}

.main-content {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    position: relative;
}

    .main-content * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .main-content button.action {
        margin-left: 2px;
    }

.titulo {
    background-color: #0099CC;
}

    .titulo > span {
        display: block;
        margin-left: 12px;
        background-color: #FDBC10;
        color: #FFFFFF;
        text-transform: uppercase;
        height: 44px;
        padding-top: 15px;
        padding-left: 4px;
        font-size: 15px;
        font-weight: bolder;
    }

.main-content br {
    clear: both;
}

.main-content .label {
    font-size: 10px;
    color: #A5A5A5;
    width: auto;
    /*line-height:initial;*/
    height: initial;
}


 .tabelaAtividade {
    width: 100%;
    background-color: #0099CC;
    border-collapse: collapse;
    page-break-inside: avoid;
}

.main-content .listaSelecao {
    font-weight: bold;
    cursor: pointer;
}

 .tabelaAtividade th,
 .listaSelecao tr:hover td {
    background-color: #EDEDEE;
    /*color:#FFFFFF;*/
    /*border-style:groove;*/
}

#gabarito .tabelaAtividade th,
#gabarito .listaSelecao tr:hover td
{
    background-color:#0099CC;
    color:#FFFFFF;
    height: 44px;
    text-align:left;
    /*border: 1px solid  #0099CC;*/
    border-style:groove;
    padding-left:8px;
}


 .tabelaAtividade th {
    text-transform: uppercase;
}

.tabelaAtividade th.thDescricaoGrupo {
        padding-left: 16px;
    }

    .tabelaAtividade th.clicavel:hover {
        box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
        border-bottom: 1px solid #09C;
    }

.main-content .listaSelecao tr:active td {
    padding-left: 20px;
    opacity: .5;
}

 .tabelaAtividade td {
    background-color: #FFFFFF;
    border: 1px solid #EDEDEE;
    color: #109FCF;
    height: 44px;
}

#gabarito  .tabelaAtividade td.first {
    padding-left:20px;
}
/*#gabarito  .tabelaAtividade td {
    height:auto;
    padding-left:20px;
}*/

#infoPanel {
    border-bottom: 2px solid rgb(253, 188, 16);
    margin-bottom: 3px;
    color: #109FCF;
    font-weight: bolder;
    height: 20px;
}

    #infoPanel li:first-child {
        list-style: none;
        margin-left: 0px;
    }

    #infoPanel li {
        float: left;
        margin-left: 26px;
        list-style-image: url("images/coaching/lista.gif");
        list-style-position: inside;
        max-width: 255px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

#content_side span.voltar {
    background-image: url('images/sdc/botao_voltar.png');
}


.icone-lista {
    width:50px;
    height:50px;
    background-repeat:no-repeat;
    background-size:contain;
}
.prova {
    background-image: url('images/sdc/icone-prova.png');
    float: left;
}

.pesquisa {
    background-image: url('images/sdc/icone-pesquisa.png');
    float: left;
}

span.disabled {
    opacity: 0.4 !important;
    cursor: default !important;
}


.main-content span.ic-avancar {
    background-image: url('images/coaching/ic_avancar.png');
}

.main-content .fosco {
    opacity: 0.5;
}

.main-content .clicavel {
    cursor: pointer;
}

.main-content td.clicavel:hover {
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
}


.form_default button.action {
    margin-left: 0px;
}


.pH {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.lista_avaliacao_observacao {
    font-size: 13px;
    color: #AFAFAF;
}

.ct_data_status {
    float: right;
    color: #006587;
}

    .ct_data_status span {
        display: block;
        font-size: 13px;
    }

.check {
    width:30px;
    height:30px;
    margin-top:6px;
    cursor:pointer;
    background-repeat:no-repeat;
    background-size:contain;
}

    .check.on {
        background-image:url(./images/sdc/ic_checkado.png); 
    }

    .check.off {
        background-image:url(./images/sdc/ic_nao_checkado.png);
    }


.seta {
    width:144px;
    height:144px;
    cursor:pointer;
    background-repeat:no-repeat;
    background-size:contain;
}

    .seta.esquerda  {
        background-image:url(./images/sdc/ic_button_previus.png);
    }

    .seta.direita {
        background-image:url(./images/sdc/ic_button_next.png);
    }

    .seta.esquerda.off  {
        opacity:0.3;
        cursor:default;
    }

    /*.seta.direita.off {
   
    }*/

    .seta.direita.finalizar {
        background-image:url(./images/sdc/ic_botao_concluir.png);
    }


span.icone {
    width: 32px;    height: 32px;    
    display: inline-block;    
    background-size: contain;
    background-repeat:no-repeat; 
    line-height:31px;
    margin:2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span.correta {    background-image:url('images/coaching/icone-concordo.png'); }

span.incorreta {   background-image:url('images/coaching/icone-nao-concordo.png'); }

.paginacao {
    color: #109FCF !important;
}

.resultado {
    width:40px;
}
.texto-resultado {
    width:200px;
    text-align:center;
    font-weight:bold;
}

#gabarito .acertou-errou {
    background-color:red;
    color:white;
    text-align:center;
    font-weight:bolder;
    height:28px
}

    #gabarito .acertou-errou.acertou {
        background-color:green;
    }

    #gabarito .tabelaAtividade.resumo{
        border-top:5px solid;
        border-bottom:5px solid;
        border-color:lightgray;
        
    }

#gabarito .tabelaAtividade.resumo td {
    border:none;
    height:32px;
    padding:8px
}